.contentBody {
  display: flex;
  align-items: center;
  column-gap: 16px;
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .contentTitle {
    font-size: 16px;
    margin-bottom: 0px;
  }

}
.cardImage {
  max-height: 250px;
}