// color
$primary-color: #1dbf73;
$font-size-16: 16px;
$light-gray: #b5b6ba; 
$light-cyan: #f1fdf7;
$fib-background-color: #0d084d;
$logo-maker-container: #446ee7;

// font family name
$Poppins: 'Poppins', sans-serif;
$Caprasimo: 'Caprasimo', cursive;
$Roboto: 'Roboto', sans-serif;
$DancingScript: 'Dancing Script', cursive;
$SignikaNegative: 'Signika Negative', sans-serif;