@import "/src/assets/css/variables.scss";
.carouselContainer {
  position: relative;

  .prevSlide {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
  }

  .nextSlide {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
  }

  .carouselTitle {
    font-family: $Poppins;
    font-weight: 600;
  }
}