@import "/src/assets/css/variables.scss";
.footer {
  width: 100%;
  padding-top: 64px;
  padding-bottom: 24px;
  border-top: solid 1.5px $light-gray;
  .title {
    font-size: 16px;
    color: black;
    font-weight: bold;
  }
  
  .stackMenu {
    p {
      font-size: 16px;
      color: #686868;
      font-weight: 400;
    }
  }

  .footerBottom {
    height: 70px;
    display: flex;
    align-items: center;
    border-top: solid 1.5px $light-gray;

    .logo {
      .name {
        color: #686868;
        font-size: 24px;
        font-weight: bold;
      }
    }

    .stackSettingButton
    .stackSocial {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 10px;
    }
  }
  
}

